.banner_video{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    video{
        height: 130%;
        width: 100%;
        margin-top: -100px;
        object-fit: cover;
    }
    .overlay-video{
        background: $color1-nc;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
    }
    .text-banner{
        position: absolute;
        left: 5%;
        bottom: 5%;
        color: white;
        h1{
            font-size: 4rem;
        }
    }
}
@media (max-width: 575.98px) { 
    .banner_video{
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        video{
            height: 130%;
            width: 100%;
            margin-top: -100px;
            object-fit: cover;
        }
        .overlay-video{
            background: $color1-nc;
            opacity: 0.4;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }
        .text-banner{
            position: absolute;
            left: 5%;
            bottom: 5%;
            color: white;
            h1{
                font-size: 3rem !important;
            }
        }
    }
 }
            

.img-right{
    height: 100vh;
    overflow: hidden;
img{
    max-width: 100%;
    /* height: 100vh; */
    height: auto;
    object-fit: cover;
}    

}

.item{
    .overlay{
        width: 100%;
        height: 100%;
        background: $color1-nc;
        opacity: 0.0;
        position: absolute;
        top: -150%;
        left: 0;
        transition: all .6s ease-out;
    }
    .title-act{
        position: absolute;
        bottom: 2%;
        color: white;
        font-size: 1.5rem;
        background: $color1-nc;
        padding: 0.5rem 0.5rem;
        transition: all .3s ease;
    }
    .text-act{
        position: absolute; 
        bottom: -150%;
        color: white;
        z-index: 5;
        transition: all .4s ease-in-out;
       
    }
    &:hover{
        .overlay{
            width: 100%;
            height: 100%;
            background: $color1-nc;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s ease-in;
        }
        .title-act{
            position: absolute;
            bottom: -52%;
           
            transition: all .3s ease;
        }
        .text-act{
            position: absolute; 
            bottom: 0;
            color: white;
            z-index: 5;
            transition: all .6s ease-in;
           
        }
    }
}


/* Galeria de pop up*/


.elem, .elem * {
	box-sizing: border-box;
	margin: 0 !important;	
}
.elem {
	display: inline-block;
	font-size: 0;
	width: 100%;
	border: 4px solid transparent;
	border-bottom: none;
	background: #fff;
	padding: 0;
	height: auto;
	background-clip: padding-box;
}
.elem > span {
	display: block;
	cursor: pointer;
	height: 0auto;
	padding-bottom:	70%;
	background-size: cover;	
    background-position: center center;
}

.owl-nav{
    display: none;
}

.btn-nc{
    background:white ;
        color: $color1-nc;
        transition: all .3s ease;
        border: 1px $color1-nc solid; 

    &:hover{
        background: $color1-nc;
        color: white;
        transition: all .3s ease;
        border: 1px white solid;
    }
}
.btn2-nc{
    background: $color1-nc;
    color: white;
    transition: all .3s ease;
    border: 1px white solid;

    &:hover{
       

        background:white ;
        color: $color1-nc;
        transition: all .3s ease;
        border: 1px $color1-nc solid; 
    }
}