/* Fonts Assets */
@font-face{
    font-family: "Futura Extrabold";
    src: url('../assets/fonts/FuturaStd-ExtraBold.otf');
}
@font-face{
    font-family: "Futura Bold";
    src: url('../assets/fonts/FuturaStd-Bold.otf');
}
@font-face{
    font-family: "Futura Book";
    src: url('../assets/fonts/FuturaStd-Book.otf');
}
@font-face{
    font-family: "Futura Heavy";
    src: url('../assets/fonts/FuturaStd-Heavy.otf');
}
@import 'variables';
@import 'commons';
@import'navbar';
@import 'index';
@import 'footer';
@import 'actividades';
